.navigation {
    @include displayFlex(row, center, space-between);
    height: 5rem;
    padding: 0 5rem;

    &__logo {
        text-decoration: none;
        color: $white;
        font-size: 1.75rem;
        font-weight: 600;
    }

    &__wrapper {
        @include displayFlex(row, center, flex-end);
    }

    &__list {
        @include displayFlex(row, center, center);
        list-style: none;

        &Item {
            margin: 0 1rem;

            a {
                color: $white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                transition: all .15s;

                &:hover {
                    color: $main-orange;
                }
            }
        }
    }

    .social-media__list {
        @include displayFlex(row, center, center);
        list-style: none;
        margin: 0 1rem 0 2rem;

        &Item {
            margin: 0 .65rem;
            height: 100%;
            @include displayFlex(row, center, center);

            img {
                height: 1rem;

                &:hover {
                    cursor: pointer;
                    fill: purple;
                }
            }

            &:first-child {
                img {
                    height: 1.15rem;
                    margin-top: .2rem;
                }
            }
        }
    }

    .contact-button {
        color: $white;
        background-color: $main-orange;
        font-size: 1rem;
        font-weight: 500;
        padding: .55rem 1.3rem;
        border-radius: 5rem;
        text-decoration: none;
        transition: all .15s;
        border: solid $main-orange .2rem;

        &:hover {
            background-color: transparent;
        }
    }
}