.blog {
    padding: .1rem;
    margin-top: 10rem;

    &__header {
        text-align: center;

        h2 {
            font-size: 2.75rem;
            text-transform: uppercase;
            color: lighten(black, 20%);
            letter-spacing: .1rem;
            font-weight: 900;
        }

        p {
            font-size: 1.35rem;
            font-weight: 300;
            margin-top: .25rem;
        }
    }

    &__list {
        @include displayFlex(row, flex-start, space-between);
        padding: 0;
        list-style: none;
        width: 75rem;
        max-width: 90%;
        margin: 5rem auto;
        position: relative;
    }

    &__listItem {
        width: 30%;
        box-shadow: 0px 0px 10px 0px #DADADA;
        transform: perspective(500px) translateZ(10px);
        transition: all .5s;

        img {
            width: 100%;
        }

        &-info {
            padding: 2rem 2.5rem 3.5rem;

            span {
                @include displayFlex(row, center, flex-start);

                h5 {
                    font-size: .85rem;
                    font-weight: 300;
                }

                h5:first-child {
                    margin-right: 1.25rem;
                }
            }

            h3 {
                font-size: 1.65rem;
                margin: .65rem 0;
                font-weight: 900;
                letter-spacing: .1rem;
                color: lighten(black, 15%);
                transition: all .25s;

                &:hover {
                    color: $main-orange;
                    cursor: pointer;
                }
            }

            p {
                font-size: .85rem;
                line-height: 1.5rem;
                color: lighten(black, 20%);
                font-weight: 300;
            }
        }

        &-line {
            height: .01rem;
            width: 70%;
            background-color: $main-gray;
            margin-top: 1.5rem;
        }

        &:hover {
            transform: translateZ(0);
            box-shadow: 0px 0px 3px 0px #DADADA;
        }
    }
}

//media queries
@media(max-width: 1075px) {
    .blog {
        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__listItem {
            margin-bottom: 2.5rem;
            width: 100%;
            display: flex;

            img {
                width: 50%;
            }

            &-info {
                width: 50%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width: 775px) {
    .blog {
        &__listItem {
            flex-direction: column;

            img {
                width: 100%;
            }

            &-info {
                width: 100%;
            }
        }
    }
}