.info {
    padding: .1rem 0;
    margin: 10rem 0;

    &__top {
        @include displayFlex(row, center, space-between);

        &-image {
            width: 50%;

            img {
                width: 100%;
            }
        }

        &-info {
            width: 42.5%;

            span {}

            h2 {
                font-size: 2.75rem;
                text-transform: uppercase;
                font-weight: 600;
                opacity: .75;
                letter-spacing: .1rem;

                &:last-child {
                    font-weight: 300;
                    line-height: 2.25rem;
                }
            }

            p {
                font-size: 1.25rem;
                color: lighten($black, 50%);
                opacity: .5rem;
                font-weight: 300;
                line-height: 1.5rem;
                margin-top: 1.5rem;
                width: 80%;
            }
        }
    }

    &__end {
        @include displayFlex(row, center, space-between);

        &-image {
            width: 50%;

            img {
                width: 100%;
            }
        }

        &-info {
            @include displayFlex(column, flex-end, flex-start);
            width: 42.5%;

            span {}

            h2 {
                font-size: 2.75rem;
                text-transform: uppercase;
                font-weight: 600;
                opacity: .75;
                letter-spacing: .1rem;
                text-align: right;

                &:last-child {
                    font-weight: 300;
                    line-height: 2.25rem;
                }
            }

            p {
                font-size: 1.25rem;
                color: lighten($black, 50%);
                font-weight: 300;
                line-height: 1.5rem;
                margin-top: 1.5rem;
                width: 80%;
                text-align: right;
            }
        }
    }
}

//media queries
@media(max-width: 1050px) {
    .info {
        &__top-info {
            width: 47%;

            h2 {
                font-size: 2rem;
            }

            p {
                width: 95%;
            }
        }

        &__end-info {
            width: 47%;

            h2 {
                font-size: 2rem;
            }

            p {
                width: 95%;
            }
        }
    }
}

@media(max-width: 875px) {
    .info {
        &__top {
            flex-direction: column;

            &-image {
                width: 100%;
            }

            &-info {
                width: 35rem;
                max-width: 90%;
                margin-top: 2.5rem;
                margin-bottom: 3.5rem;
            }
        }

        &__end {
            flex-direction: column-reverse;

            &-image {
                width: 100%;
            }

            &-info {
                width: 35rem;
                max-width: 90%;
                align-items: flex-start;
                margin-top: 2.5rem;

                h2 {
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }
        }
    }
}