.services {
    &__list {
        @include displayFlex(row, flex-start, space-between);
        width: 75rem;
        max-width: 90%;
        margin: 10rem auto 7.5rem;
        flex-wrap: wrap;
    }

    &__listItem {
        @include displayFlex(column, center, flex-start);
        width: 47.5%;
        text-align: center;
        margin-bottom: 3.5rem;

        img {
            width: 3.5rem;
        }

        h5 {
            font-size: 1.1rem;
            font-weight: 600;
            opacity: .9;
            margin: 2rem 0 1rem;
        }

        p {
            font-size: 1rem;
            font-weight: 300;
            opacity: .85;
            line-height: 1.5rem;
        }

        &:nth-child(3), &:nth-child(4) {
            margin-bottom: 0;
        }
    }
}

//media queries
@media(max-width: 725px) {
    .services {
        &__listItem {
            width: 100%;

            p {
                width: 85%;
            }

            &:nth-child(3), &:nth-child(4) {
                margin-bottom: 3.5rem;
            }
        }
    }
}